@import "tailwindcss";

@theme {
  --color-black: #030303;
  --color-white: #fdfdfd;
  --color-light-green: #eaffe8;
  --color-dark-green: #064c07;
  --color-brown: #983628;

  /* Dark mode */
  --color-black-dm: #fdfdfd;
  --color-white-dm: #121212;
  --color-light-green-dm: #1b3d1b;
  --color-dark-green-dm: #8fe28b;
  --color-brown-dm: #e07a63;
}

@layer base {
  body {
    @apply bg-white dark:bg-white-dm text-black dark:text-black-dm;
  }
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }
}

@layer components {
  input {
    @apply block min-w-[50%] w-fit border-2 border-black dark:border-black-dm py-2 px-4 rounded-md focus-visible:outline-0 focus-visible:border-brown dark:focus-visible:border-brown-dm transition-all duration-300;
  }
  .button {
    @apply bg-brown dark:bg-brown-dm text-white dark:text-white-dm rounded-md px-4 py-2 cursor-pointer hover:bg-dark-green dark:hover:bg-dark-green-dm transition-all duration-300;
  }

  .card-post {
    @apply bg-light-green dark:bg-light-green-dm flex gap-2 justify-between items-center py-2 px-4 border-2 border-dark-green dark:border-dark-green-dm rounded-md;
  }
}

@layer utilities {
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.edit-icon {
  @apply hover:text-orange-500 dark:hover:text-orange-400 transition-colors duration-150;
}

.delete-icon {
  @apply hover:text-red-500 dark:hover:text-red-400 transition-colors duration-150;
}
